.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 8vh;
}

.tabs {
  background-color: red;
  color: wheat;
  font-size: 1em;
  margin: 2vh 4px 0;
  padding: 6px 12px;
  border-radius: 10%;
  cursor: pointer;
}
