.align  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 30vmax;
  padding: 5vh 5%; 
  border: 1px solid black;
}

.image  {
  height: 10vmin;
  width: 10vmin;
  margin: 3vh 0;
}